* {
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #2B2B2B;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #00000075;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #000000;
}

.content{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: auto;
  height: auto;
}

header{
  display: flex;
  width: 100%;
  background-color: black;
}

nav{
  margin: auto;
  display: flex;
  padding: 24px 0;
  gap: 32px;
}

header nav a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 11pt;
}

header nav a li {
  list-style: none;
}

:root {
  --low-white-color: #cfcfcf;
  --white-color: #f2f2f2;
  --black-text: #f2f2f2;
  --low-black-text: #cfcfcf;
  --orange-color: #ff5500;
  --low-orange-color: #ff550075;
}

.hidden-left {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(1px);
  transform: translateX(-100%);
}


.hidden-right {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(1px);
  transform: translateX(100%);
}


.show-horizontal {
  opacity: 1;
  transition: all 1.5s;
  filter: blur(0);
  transform: translateX(0);
}

.hidden-bottom {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(1px);
  transform: translateY(100%);
}


.show-vertical {
  opacity: 1;
  transition: all 1.5s;
  filter: blur(0);
  transform: translateY(0);
}

.hidden-top {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(1px);
  transform: translateY(-100%);
}

.hidden-left-none {
  opacity: 0;
  transition: all 1.5s;
  display: none;
  filter: blur(1px);
  transform: translateX(-100%);
}

.show-left-none {
  opacity: 1;
  display: block;
  transition: all 1.5s;
  filter: blur(0);
  transform: translateX(0);
}

/*HOME PAGE*/
#title-container{
  padding: 32px 0px;
}
.text-result {
  font-weight: 400;
}

/*textos da página principal*/
h1,
h2 {
  font-weight: 600;
}

h1 {
  color: var(--black-text);
}

h2 {
  color: var(--low-black-text);
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#searchDesc{
  color: var(--low-white-color);
}

#comment {
  color: var(--low-black-text);
  font-weight: 400;
  font-size: 11pt;
  margin: 12px 0px;
  width: 80%;
  flex-wrap: wrap;
}


.results {
  display: none;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  flex-wrap: no-wrap;
  padding: 32px 0px;

}


#headMine{
  padding: 24px;
}
.stats {
  display: flex;
  height: auto;
  width: auto;
  gap: 48px;
  flex-wrap: wrap;
  font-size: 8pt;
}

.data{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.stats-data {
  display: flex;
  flex-direction: column;
  font-size: 11pt;
  align-items: center;
  border-radius: 12px;
}

.setRank {
  display: flex;
  flex-direction: row;
  align-items: center;
}



#rankIcon,
#rankDisplay {
  margin-left: 8px;
}

/*container form da barra de pesquisa moderna*/
form {
  display: flex;
  align-items: center;
  background-color: #5a5a5a;
  border-radius: 25px;
  box-shadow: 0 24px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  max-width: 400px;
}

/*barra de pesquisa de nicknames*/
#searchPlayer {
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color:#7b7b7b;
  color: #cfcfcf;
}

#searchPlayer::placeholder {
  color: #aaa;
  background-color: #7b7b7b;
}

/*botão de pesquisa*/
#searchButton {
  background-color: #2b2b2b;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 8px;
  transition: background-color 0.3s;
}

#searchButton:hover {
  background-color: var(--orange-color);
}


#triangleChart {
  display: flex;
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
}

.progress-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 12px 0px;
}

.total-progress {
  display: flex;
  align-items: center;
  width: 80%;
}

.bar-conteiner {
  display: flex;
  width: 100%;
  height: 16px;
  background-color: black;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 10px;
}

.bar-total-progress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--white-color);
  
  height: auto;
  background-color: var(--low-black-text); /* Cor da barra de progresso */
  width: 0;
  transition: width 0.5s ease;
}

.progress-percent{
  font-size: 8pt;
  color: var(--white-color);
}

.rankImg{
  width: 16px;
  height: 16px;
}

.selectors{
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 12px 0px;
  flex-wrap: no-wrap;
}

.options{
  background-color: black;
  color: var(--white-color);
  font-weight: 600;
  font-size: 6pt;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  opacity: 50%;
}

.selected{
  opacity: 100%;
  border-color: var(--black-text);
}

.comments-container{
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comments{
  display: flex;
  width: 90%;
  height: auto;
  background-color: #212121;
  border-radius: 12px;
}

.player_comment{
  padding: 24px 24px;
}

.header_comment{
  display: flex;
  align-items: center;
}


/*Parte de baixo do site*/
footer {
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*estilização dos textos de baixo*/
#footer-text {
  font-weight: 600;
  font-size: 11pt;
}

/*estilização diferente para a versão do site*/
#version {
  font-weight: 400;
  font-size: 10pt;
  color: var(--low-black-text);
}

a {
  text-decoration: none;
  color: var(--low-black-text);
}
a:hover {
  color: var(--orange-color);
}

/*Div do icone de dúvidas*/
#questions {
  display: flex;
  position: relative;
  align-items: center; /*Deixa centralizado o filho*/
  flex-direction: column; 
  width: 32px;
  height: 32px;
  text-decoration: none;
}

/*Img do icone de dúvidas*/
#questionsImg {
  opacity: 50%;
}
/* Estilo da caixa de texto (tooltip) */
.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; 
  width: auto;
  height: 32px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 75%; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  white-space: nowrap;
  font-size: 8pt;
}

/* Mostra a tooltip quando o mouse está sobre o link */
#questions:hover .tooltip {
  visibility: visible;
}

#questions:hover #questionsImg {
  opacity: 100%;
}

/*QUESTION PAGE*/
.ranksContainer{
  display: flex;
  flex-direction: column;
  width: 76%;
  height: auto;
  padding: 32px 0px;
}

.rankTop{
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--low-black-text);
  cursor: context-menu;
}

.headInfo{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 48px 12px;
}

.headInfo h1{
  color: var(--black-text);
  font-weight: 600;
  font-size: 14pt;
  cursor: context-menu;
}

.headInfo div{
  margin-left: 12px;
}

.rankDesc{
  font-size: 11pt;
  font-weight: 400;
  color: var(--low-black-text);
}

.back-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px; /* Definindo um tamanho fixo para o botão */
  height: 32px;
  background-color: var(--low-black-text);
  color: #ffffff;
  font-size: 11pt;
  border-radius: 50%; /* Torna o botão redondo */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 12px;
  cursor: pointer;
}

.back-button:hover {
  background-color: var(--orange-color);
  transform: scale(1.1);
}

.back-button:hover .arrow {
  color: var(--white-color);
}


/*theme*/
header{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 6px 12px;
  width: 100%;
}

.theme-container{
  display: flex;
  width: auto; /*o dobro do width para criar animação de deslize*/
  height: 32px;
  border-radius: 5%; /*deixa as bordas arredondas*/
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}

.theme-button{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  height: 32px;
  border-radius: 5%; /*deixa o botão redondo*/
  background-color: #fbfbfb;
  outline: none;
  border-style: none;
}

@media only screen and (max-width: 600px) {

  #title-container{
    margin: 24px 0px;
  }


  #searchTitle{
    font-size: 16pt;
  }

  #searchDesc{
    font-size: 10pt;
    text-align: center;
  }


  .results {
    flex-direction: row-reverse;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden; /* Ou overflow-y conforme o sentido do overflow */
}

.progress-container{
  justify-content: center;
  align-items: center;
}

.selectors{
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}

.options{
  padding: 8px 4%;
  width: 96%;
  height: 25%;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: var(--white-color);

}
  .setRank{
    padding: 32px 0px;
  }

  .data{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  #headMine{
    order: 2;
    padding: 12px 0px;
  }



  #footer-text {
    font-weight: 600;
    font-size: 11pt;
    text-align: center;
  }

}
